//colors
$light-blue: #009ffd;
$dark-blue: #2a2a72;
$gray-blue: #eaf6ff;
$dark: #232528;

//fonts
@import url("https://fonts.googleapis.com/css2?family=Licorice&family=Pushster&family=Ubuntu:wght@300&display=swap");
$author-font: "Licorice", cursive;
$quote-font: "Pushster", cursive;
$button-font: "Ubuntu", sans-serif;
